WcfServiceFizzBuzz/Connected Services/ServiceReference1/fizzBuzzServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="fizzBuzzServiceLibrary" elementFormDefault="qualified" targetNamespace="fizzBuzzServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFizzBuzz">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FizzBuzz" nillable="true" type="tns:FizzBuzz" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFizzBuzz" nillable="true" type="tns:ArrayOfFizzBuzz" />
  <xs:complexType name="FizzBuzz">
    <xs:sequence>
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registro" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FizzBuzz" nillable="true" type="tns:FizzBuzz" />
</xs:schema>